<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top nav-class">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <%= link_to 'Eneojo Omede', root_path, class: 'blog-header-logo text-dark' %>
      </div>

      <div class="col-md-6">
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse float-right nav-helper" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <%= nav_helper('nav-link', 'li') %>
            <%= login_helper('nav-link') %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
